.SearchBar{
    background-color: aqua;
    margin: top 10rem ;
    color: yellow;
    border-radius: 0.1rem;
}
.SearchBar:hover{
    background-color: chartreuse;
    border-radius: 3rem;
}
// @media screen {
//     mean-width: 700px;
// }